extends layout

block head
    title Transactions

block content
    template#formTemplate
        form(class='panel' onsubmit='validateForm(event, this)')
            a(href='#' class='btn btn-caution formClose' onclick='toggleTransForm(event)') X
            h3 New Transaction
            hr
            div(class='formItem')
                label(for='payee') Date:
                input(class='field formText' name='date' type='date')
            div(class='formItem')
                label(for='payee') Payee:
                input(class='field formText' name='payee' type='text' placeholder='i.e. Home Depot')
            div(class='formItem')
                label(for='amount') Amount:
                input(class='field formText' type='text' name='amount' placeholder='0.00')
            div(class='formItem')
                label(for='source') Source:
                input(class='field formText' name='source' type='text' placeholder="i.e. NJ's AA Card.")
            div(class='formItem')
                label(for='checkNumber') Check Number:
                input(class='field formText' name='checkNumber' type='text' placeholder="If Applicable")
            div(class='formItem')
                label(for='notes') Notes:
                textarea(class='field formText formTextArea' name='notes')
            div(class='form-item')
                label(class='w-100')
                    div(class='row justify-content-start')
                        div(class='col-12 col-md-5')
                            a(class='btn w-100') Add Image(s)
                    input(class='field d-none error' type='file' name='images' multiple onchange='checkImages(this)')
                div(class='subtext')
                    p No image(s) selected.


            div(class='row mt-4 justify-content-end')
                div(class='col-12 col-md-3')
                    button#saveButton(class='btn btn-submit w-100') Save

    template#detailsTemplate
        div
            h4 Transaction Details:
            hr
            p(class='bef bef-date') Date
            p(class='bef bef-payee') Payee
            p(class='bef bef-amount') $20.25
            p(class='bef bef-source') Source
            p(class='bef bef-check') CheckNumber
            p(class='bef bef-notes') Notes
            hr
            div(class='row position-relative')
            div(class='row justify-content-end')
                div(class='trash-btn me-3 text-end')
                    a(href="#" class='btn btn-caution w-100 h-100' title='Delete Transaction')
                        img(src='/images/trash.svg')
            p(class='smallText')

    template#transTemplate
        div
            hr(class='d-none d-md-block')
            p(class='smallText')
            h4(class='transaction-link btn btn-toLink')

    aside#newTransForm(class='')
        div(class='formBack')
        
    main(class='container mt-4')
        div(class='row justify-content-center')
            div(class='col-12 col-md-8')
                h1(class='text-center') Transactions
                hr
                div(class='row justify-content-end')
                    div(class='text-end col-12 col-md-4')
                        a(class='btn w-100' href="#" onclick='toggleTransForm(event)') Add Transaction
                div(class='mt-4')
                    hr(class='d-md-none')
                    div#transactions
                        for trans in transactions
                            div(id=trans._id)
                                hr(class='d-none d-md-block')
                                p(class='smallText')= new Date(trans.date).toLocaleDateString('en-us', {year:"numeric", month:"long", day:"numeric"})
                                h4(class='transaction-link btn btn-toLink' onclick=`showDetails("${trans._id}")`)= `${trans.payee} - $${trans.amount}`
                    hr
                div(class='row justify-content-center mt-5')
                    div(class='col-12 col-md-6')
                        button(class='btn w-100' onclick='fetchTrans(this, 10)') Fetch More Transactions
        
        section(class='row justify-content-end mt-md-5')
            div(class='col-12 col-md-3')
                hr(class='d-md-none')
                a(class='btn btn-caution btn-logout w-100' href="#" onclick='logout(event)') Log Out

        